[user]
  name = Tomasz Wegrzanowski
  email = tomasz.wegrzanowski@sensortower.com
[init]
  defaultBranch = master
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  ls = ls-files
  sx = status --ignored --porcelain
  unstage = reset HEAD --
  master = checkout master
  up = !git pull && git push
  wdiff = diff --word-diff
  cdiff = diff --word-diff-regex='.' --word-diff
  amend = ci --amend --no-edit
  hide = update-index --assume-unchanged
  unhide = update-index --no-assume-unchanged
  fpush = push --force-with-lease
  sw = switch
  ds = !git diff origin/master | diffstat -p1
  mm = merge origin/master
[commit]
  gpgsign = true
[core]
  editor = code --wait
[push]
  autoSetupRemote = true
